<!DOCTYPE html>
<html>
  <head>
     
<!-- file name: header.css
name:Habibat Dolapo
stu ID: 301270896
date: 06-07-23 -->
 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Me Profile card || Learning Robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/aboutme.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="about-wrapper">
      <div class="about-left">
        <div class="about-left-content">
          <div>
            <div class="shadow">
              <div class="about-img">
                <img src="/Assets/images/mee.jpg" alt="about image" />
              </div>
            </div>

            <h2>Black-Sparkles</h2>
            <h3>Software Engineer</h3>
          </div>

          <ul class="icons">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </div>
      </div>

      <div class="about-right">
        <h1>Hello<span>! </span></h1>
        <h2>Here's who I am & what I do</h2>
        <div class="about-btns">
          <button type="button" class="btn btn-pink"><a class="link" href="/Assets/files/habibat-resume.docx" target="_blank">resume / CV</a></button>
          <button type="button" class="btn btn-white"><a class="link" href="https://github.com/Black-Sparkles/Black-Sparkles_Portfolio" target="_blank">GitHub</a></button>
          
        </div>

        <div class="about-para">
          <p>
            My name is Habibat Dolapo. I am currently a student at Centennial
            College studying Software Engineering Technology. I am a Junior
            Software Engineer.
          </p>
          <p>
            I'm inspired to create and develop online applications that maximise
            user experiences using minimalist principles by my intense curiosity
            and fascination with web technology.
          </p>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
