<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
    </style>
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gallery">
      <div class="images">
        <a class="image-link" href="/Assets/images/software-engineer.webp">
          <div class="image" data-label="Software Engineer">
            <img src="/Assets/images/OI.jpeg" alt="" />
          </div>
        </a>
        <a class="image-link" href="#">
          <div class="image" data-label="Front-End Developer">
            <img src="/Assets/images/frontend.jpeg" alt="" />
          </div>
        </a>
        <a class="image-link" href="#">
          <div class="image" data-label="UI/UX Designer">
            <img src="/Assets/images/th.jpeg" alt="" />
          </div>
        </a>
        <a class="image-link" href="#">
          <div class="image" data-label="Database Administrator">
            <img src="/Assets/images/dtaa.jpeg" alt="" />
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
