/* 
file name: footer.css
name:Habibat Dolapo
stu ID: 301270896
date: 06-07-23
 */

.footer {
  background-color: #1a1e23;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Krona One", sans-serif;
  font-size: 14px;
}
