<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheets" href="/stylesheets/about.css" />
    <link rel="icon" type="image/x-icon" href="/Assets/icons/favicon.png" />
    <title>About Me</title>
  </head>
  <body>
    <div class="service-container">
      <div class="container"><%- include('./partials/header') %></div>

      <%- include('./partials/aboutme') %>
    </div>
  </body>
  <footer><%- include('./partials/footer') %></footer>
</html>
