<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/projects.css" />
    <link rel="icon" type="image/x-icon" href="/Assets/icons/favicon.png" />
    <title>Projects</title>
  </head>
  <body>
    <div class="container"><%- include('./partials/header') %></div>
    <div class="service-container">
      <!-- proj 1 -->
      <article class="article-wrapper">
        <div class="rounded-lg container-project">
          <img
            src="/Assets/images/Kids.png
            "
          />
        </div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">Project 1</div>
            <div class="project-hover">
              <a
                href="https://korex23.github.io/MyKivvyBabiesandKids/"
                target="_blank"
                >here</a
              >
            </div>
          </div>
          <div class="types">
            <span
              style="
                background-color: rgba(165, 96, 247, 0.43);
                color: rgb(85, 27, 177);
              "
              class="project-type"
              >• Kids</span
            >
            <p class="desc">
              I created an ecommerce website to shop for children's clothing.
            </p>
            <span class="project-type">•HTML & CSS</span>
          </div>
        </div>
      </article>

      <!-- proj 2 -->
      <article class="article-wrapper">
        <div class="rounded-lg container-project">
          <img
            src="/Assets/images/QR.png
            "
          />
        </div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">QR Code Generator</div>
            <div class="project-hover">
              <a
                href="https://korex23.github.io/qr-code_generator/"
                target="_blank"
                >here</a
              >
            </div>
          </div>
          <div class="types">
            <span
              style="
                background-color: rgba(165, 96, 247, 0.43);
                color: rgb(85, 27, 177);
              "
              class="project-type"
              >•HTML & CSS</span
            >
            <p>
              I created a free QR code generator for any link that is provided.
            </p>
            <span class="project-type">• QR</span>
          </div>
        </div>
      </article>

      <!-- proj 3 -->
      <article class="article-wrapper">
        <div class="rounded-lg container-project">
          <img
            src="/Assets/images/piggy.png
            "
          />
        </div>
        <div class="project-info">
          <div class="flex-pr">
            <div class="project-title text-nowrap">PiggyVest Clone</div>

            <a href="https://korex23.github.io/piggyvest/" target="_blank"
              >here</a
            >
          </div>
          <div class="types">
            <span
              style="
                background-color: rgba(165, 96, 247, 0.43);
                color: rgb(85, 27, 177);
              "
              class="project-type"
              >• Clone</span
            >
            <p>
              I cloned the online savings and investment website called
              PiggyVest.
            </p>
            <span class="project-type">• HTML & CSS</span>
          </div>
        </div>
      </article>
    </div>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
